<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IFPkgDescriptionDeleteWarning</key>
	<string></string>
	<key>IFPkgDescriptionDescription</key>
	<string>Written by spike Grobstein &lt;spike@sadistech.com&gt;
www.sadistech.com
nesromtool.sourceforge.net
sourceforge.net/projects/nesromtool

NESRomTool is a command-line based utility for extraction and injection of Nintendo ROM data from .nes files. It currently works with program and sprite data and can preview individual sprites in the terminal window. </string>
	<key>IFPkgDescriptionTitle</key>
	<string>NESRomTool</string>
	<key>IFPkgDescriptionVersion</key>
	<string>0.61</string>
</dict>
</plist>
